@import '../../vars.scss';

.container-form {
    background-color: $background-escala-branco;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px $box-shadow-primary;
    width: 350px;

    h1 {
        color: $color-escala-azul;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    label {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 5px;
        display: inline-block;
        color: $color-escala-cinza;
    }

    input {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid $border-escala-cinza;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    .group-buttons {
        display: flex;
        gap: 15px;
        justify-content: center;

        .btn-max {
            padding: 10px 20px;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $background-escala-verde;
                color: $color-white;
            }
        }
    }
}