@import '../../vars.scss';

.container-details {
    padding: 30px;

    .dragon-detail {
        padding: 20px;
        background-color: $background-branco;
        
        .detail { 
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .detail-content {
            p {
                padding: 20px 0;
            }
        }
    }

    .load {
        font-size: 20px;
        font-weight: bold;
        color: $color-white;
    }
}