@import '../../vars.scss';

.container-details {
    padding: 30px;

    .dragon-detail {
        padding: 20px;
        background-color: $background-branco;

        h2 {
            display: block;
            width: 50%;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        
        .detail { 
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .detail-content {
            margin: 8px 0;
            .description {
                margin: 10px 0;
                p {
                    padding-top: 4px;
                }
            }
        }
    }

    .load {
        font-size: 20px;
        font-weight: bold;
        color: $color-white;
    }
}