// buttons
$btn-white: #ffffff;
$btn-primary: #1abc9c;
$btn-primary-hover: #16a085;
$btn-primary-active: #0e6655;
$btn-disabled: #bdc3c7;

// background
$background-primary: rgb(26, 188, 156);

// error
$color-red: rgb(195, 45, 45);

// color
$color-white: #ffffff;
