// buttons
$btn-white: #ffffff;
$btn-primary: #1abc9c;
$btn-primary-hover: #16a085;
$btn-primary-active: #0e6655;
$btn-disabled: #bdc3c7;
$btn-escala-azul: #2c3e50;
$btn-escala-azul-secunday: #34495e;
$btn-escala-red-primary:  #c0392b;
$btn-escala-red-secunday: #e74c3c;

// background
$background-primary: rgb(26, 188, 156);
$background-escala-branco: #f9f9f9;
$background-escala-verde: #16a085;

// color
$color-red: rgb(195, 45, 45);
$color-escala-cinza: #7f8c8d;
$color-white: #ffffff;

//border
$border-escala-cinza: #ccc;

//box
$box-shadow-primary: rgba(0, 0, 0, 0.1);
